{% extends 'layout.html.twig' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="content">
            <p>Бессменный мидер Natus Vincere Данил «Dendi»
                Ишутин оценил актуальные составы СНГ-команд и сделал прогнозы на ближайшие квалификации.
                В нашем материале — главное из беседы игрока с журналистами prodota.ru.</p>
            <p>Бессменный мидер Natus Vincere Данил «Dendi»
                Ишутин оценил актуальные составы СНГ-команд и сделал прогнозы на ближайшие квалификации.
                В нашем материале — главное из беседы игрока с журналистами prodota.ru.</p>
            <p>Бессменный мидер Natus Vincere Данил «Dendi»
                Ишутин оценил актуальные составы СНГ-команд и сделал прогнозы на ближайшие квалификации.
                В нашем материале — главное из беседы игрока с журналистами prodota.ru.</p>
            <p>Бессменный мидер Natus Vincere Данил «Dendi»
                Ишутин оценил актуальные составы СНГ-команд и сделал прогнозы на ближайшие квалификации.
                В нашем материале — главное из беседы игрока с журналистами prodota.ru.</p>
            <p>Бессменный мидер Natus Vincere Данил «Dendi»
                Ишутин оценил актуальные составы СНГ-команд и сделал прогнозы на ближайшие квалификации.
                В нашем материале — главное из беседы игрока с журналистами prodota.ru.</p>
            <p>Бессменный мидер Natus Vincere Данил «Dendi»
                Ишутин оценил актуальные составы СНГ-команд и сделал прогнозы на ближайшие квалификации.
                В нашем материале — главное из беседы игрока с журналистами prodota.ru.</p>

        </div>
    </div>
</div>
{% endblock %}
